
body {
    margin: 0;
    padding: 0;
    background: #FEF8EC;
    font-family: 'Montserrat', sans-serif;
    color: #5E3727;
    line-height: 1.6;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 85px 20px;
    text-align: center;
}



.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 60px auto;
}

.divider .line {
    flex: 0 0 120px;
    height: 1px;
    background: #CABCAE;
}

.divider .star {
    width: 24px;
    height: 24px;
    color: #CABCAE;
}


.heart-icon {
    width: 40px;
    height: 40px;
    color: #523626;
    margin-bottom: 10px;
}


.names {
    font-family: 'Imperial Script', cursive;
    font-size: 115px;
    color: #523626;
    margin-bottom: 10px;
}


.subtitle {
    font-size: 16px;
}
.subtitle.small {
    margin-top: -10px;
}


.date {
    font-size: 32px;
    color: #523626;
    margin-top: 30px;
}


.rsvp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: #523626;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.rsvp-btn:hover {
    opacity: 0.9;
}




.photos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.photo {
    width: 388px;
    height: 500px;
    background-color: #CABCAE;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.photo1 {
    background-image: url("./assets/IMG_1928.jpg");
}

.photo2 {
    background-image: url("./assets/IMG_5688.JPEG");
}



.quote {
    font-style: italic;
    font-size: 18px;
    color: #523626;
}


.section-title {
    font-family: 'Imperial Script';
    font-size: 70px;
    color: #523626;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 260px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.card i {
    height: 32px;
    width: 32px;
    color: #523626;
    margin-bottom: 10px;
}

.info-section .info-box {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}


.info-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

.qr-box {
    width: 220px;
    height: 220px;
    background: #fff;
    border-radius: 12px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
